*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.911);
    background-color: rgb(231, 218, 218);
}


.container{
    max-width: 80%; 
    padding: 34px;
    margin: auto;
}

table, th, td {
    border: 2px solid black;
    padding: 8px;
    margin: auto;
  }

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
}